{% extends 'base.html.twig' %}

{% block title %}Banzaiii{% endblock %}

{% block body %}
<main class="container">
    <section class="row">
        <div class="col-12">
            <h1>E SHOP</h1>
            <p>Bienvenue sur le Kaizen Project Shop</p>
        </div>
        <div class="col-12">
            {# {{ dump()}} #}
            {% for categorie in categories %}
                {# {% if categorie.parent == null %}
                    <div class="col-12">
                        <h2>{{ categorie.nom }}</h2>
                    </div>
                {% else %} #}
                    <div class="col-4">
                        <div class="card h-100">
                            <div class="card-body">
                                <h3 class="card-title">{{ categorie.nom }}</h3>
                                {# Vérifiez si la catégorie a un slug avant de créer le lien #}
                                {% if categorie.slug is defined and categorie.slug is not empty %}
                                    <a href="{{ path('categorie_listeProd', {slug: categorie.slug}) }}" class="btn btn-primary">Voir les produits</a>
                                {% else %}
                                    {# Gérer le cas où la catégorie n'a pas de slug #}
                                    <p>Aucun lien disponible</p>
                                {% endif %}
                            </div>
                        </div>
                    </div>    
                {# {% endif %} #}
            {% endfor %}
        </div>
    </section>
</main>
{% endblock %}
