{% extends 'base.html.twig' %}

{% block title %}Details du produit{% endblock %}

{% block body %}
<div class="container">
    <h1>Details du produit {{ produit.nom }}</h1>
    
    <div class="row">
        <div class="col-md-6">
            <p>Id: {{ produit.id }}</p>
            <p>Prix: {{ produit.prix }} €</p>
            <!-- Ajout du bouton de suppression -->
            <form action="{{ path('produit_delete', {'slug': produit.slug}) }}" method="post" onsubmit="return confirm('Êtes-vous sûr de vouloir supprimer ce produit ?');">
                <button type="submit" class="btn btn-danger">Supprimer</button>
            </form>
        </div>
    </div>
</div>
{% endblock %}
