{# templates/registration/confirmation.html.twig #}

{% extends 'base.html.twig' %}

{% block title %}Confirmation{% endblock %}

{% block body %}
    <h1>Félicitations ! Votre compte a été activé avec succès.</h1>
    {# Vous pouvez ajouter d'autres messages ou instructions ici. #}
{% endblock %}
